<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <style>
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>

    <body>
        <h3>Hi, {{ username }}!</h3>
        <h4>This is your monthly report</h4>
        <p>Date : {{ date }}</p>
        {% if deckstats==[] %}
            <p>You have not reviewed any content on FlashStudy yet:(</p>
        {% endif %}
       {% for deckstat in deckstats %}
        <div>
            <table>
                <tr>
                    <td>Deck Name</td>
                    <td>{{ deckstat["name"] }}</td>                    
                </tr>

                <tr>
                    <td>Number of cards</td>
                    <td>{{ deckstat["number_of_cards"] }}</td>
                </tr>

                <tr>
                    <td>Average Score</td>
                    <td>{{ deckstat["average_score"] }}</td>
                </tr>

                <tr>
                    <td>Rating</td>
                    <td>{{ deckstat["rating"] }}</td>
                </tr>

                <tr>
                    <td>Times Reviewed</td>
                    <td>{{ deckstat["times_reviewed"] }}</td>
                </tr>

                <tr>
                    <td>last Reviewed</td>
                    <td>{{ deckstat["last_reviewed"] }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        {% endfor %}
        <p>FlashStudy | 2022.</p>
    </body>
</html>