<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="root-signup-block">
            <form method="post">
            <p class="root-label1">Username</p>
            <input type="text" class="root-input1" name="username">
            <p class="root-label1">Email</p>
            <input type="Email" class="root-input1" name="email">
            <p class="root-label1">password</p>
            <input type="password" class="root-input1" name="password">
            <input type="submit" value="Sign Up">
        </form>
        </div>
    </body>
</html>